@model About

@{
    ViewData["Title"] = "UpdateAbout";
    Layout = "~/Views/Layout/Index.cshtml";
}

<div class="content">
    <div class="container-fluid">
        <h4 class="page-title">Deneyimler</h4>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">Deneyim Güncelleme Paneli</div>
                    </div>
                    <div class="card-body">
                        <form method="post">
                            <input type="hidden" asp-for="AboutId" />
                            <label>Hakkımda Başlık</label>
                            <input type="text" asp-for="Title" class="form-control" />
                            <br />
                            <label>Hakkımda Alt Başlık</label>
                            <input type="text" asp-for="SubDescription" class="form-control" />
                            <br />
                            <label>Hakkımda Detaylı Açıklama</label>
                            <textarea rows="4" asp-for="Details" class="form-control"></textarea>
                            <br />
                            <div class="d-flex justify-content-end">
                                <button class="btn btn-primary">Hakkımda Verisini Güncelle</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>