@model Portfolio

@{
    ViewData["Title"] = "UpdatePortfolio";
    Layout = "~/Views/Layout/Index.cshtml";
}

<div class="content">
    <div class="container-fluid">
        <h4 class="page-title">Portolyo</h4>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">Portolyo Ekleme Paneli</div>
                    </div>
                    <div class="card-body">
                        <form method="post">
                            <input type="hidden" asp-for="PortfolioId" />
                            <label>Portfolyo Başlık</label>
                            <input type="text" asp-for="Title" class="form-control" />
                            <br />
                            <label>Portfolyo Alt Başlık</label>
                            <input type="text" asp-for="SubTitle" class="form-control" />
                            <br />
                            <label>Portfolyo Bağlantı</label>
                            <input type="text" asp-for="Url" class="form-control" />
                            <br />
                            <label>Portfolyo Resim(URL)</label>
                            <input type="text" asp-for="ImgUrl" class="form-control" />
                            <br />
                            <label>Portfolyo Detaylı Açıklama</label>
                            <textarea rows="4" asp-for="Description" class="form-control"></textarea>
                            <br />
                            <div class="d-flex justify-content-end">
                                <button class="btn btn-primary">Portfolyo Verisi Güncelle</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

